.card {
  width: var(--card-width);
  height: var(--card-height);
  border: 1px solid #333;
  background: #fff;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
}

.pip-top {
  position: absolute;
  top: 2px;
  left: 2px;
  text-align: center;
}

.pip-bottom {
  position: absolute;
  bottom: 2px;
  right: 2px;
  transform: scale(1, -1);
  text-align: center;
}

.red {
  color: red;
}
